.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.allCounters {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  justify-content: center;
}
@media screen and (max-width:600px) {
  .allCounters {
    display: block;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#lastminute {
  margin: 10px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
  text-shadow: 2px 2px 2px rgb(235, 75, 75);
  color: white;
}